@model Gorjanc.Models.Vrh

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj nov hrib</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" id="ime" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visina" class="control-label"></label>
                <input asp-for="Visina" class="form-control" />
                <span asp-validation-for="Visina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoordinateS" class="control-label"></label>
                <input asp-for="KoordinateS" class="form-control" id="KoordinateS" />
                <span asp-validation-for="KoordinateS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoordinateD" class="control-label"></label>
                <input asp-for="KoordinateD" class="form-control" id="KoordinateD" />
                <span asp-validation-for="KoordinateD" class="text-danger"></span>
            </div>
            <div id="map"></div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazaj</a>
</div>
<script>
    var map = L.map('map').setView([46.1798, 14.6173], 17);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var popup = L.popup();
    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent($("#ime").val())
            .openOn(map);
            var lat = e.latlng.toString().split(", ")[0];
            var lon = e.latlng.toString().split(", ")[1];
            $("#KoordinateS").val(lat.substring(7, lat.length).replace(".", ","));
            $("#KoordinateD").val(lon.substring(0, lon.length-1).replace(".", ","));
    }
    map.on("click", onMapClick);
</script>