@model Gorjanc.Models.Vrh

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj nov hrib</h1>

<h4>Vrh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visina" class="control-label"></label>
                <input asp-for="Visina" class="form-control" />
                <span asp-validation-for="Visina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoordinateS" class="control-label"></label>
                <input asp-for="KoordinateS" class="form-control" />
                <span asp-validation-for="KoordinateS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoordinateD" class="control-label"></label>
                <input asp-for="KoordinateD" class="form-control" />
                <span asp-validation-for="KoordinateD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazaj</a>
</div>