@model IEnumerable<Gorjanc.Models.Vrh>;
@{
    ViewData["Title"] = "Domov";
}

<div id="index">
    <div id="tekst">
        <img src="~/gorjanci.jpg">
        <h1><b>Gorjanc</b></h1>
        <h3><b>digitalna planinska knjiga</b></h3>
    </div>  
</div>

<div class="text-center">
    <div id="onas">
        <h2>O nas</h2>
        <p>Gorjanc je spletna aplikacija, namenjena vsem pohodnikom.</p>
    </div>

    <a id="vrhovi"></a>

    <div id="mapa">
        <h2>Izberi vrh:</h2>
        <div class="break"></div>
        <form autocomplete="off" method="post" enctype="multipart/form-data" asp-controller="Vrhovi" asp-action="Vrh">
            <div class="autocomplete">
                <input id="searchField" type="text" name="vrh" placeholder="Poišči vrh" />
                <input id="vrhSearchId" type="hidden" name="id" value="1"/>
            </div>
            <input class="btn btn-success" type="submit" value="Išči"/>
        </form>
        <div class="break"></div>
        <div id="map"></div>
        <script>
            function mapa() {
                var vrhovi = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
                var map = L.map('map').setView([46.1722, 14.9881], 9);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                
                var markers = L.markerClusterGroup();
                for(x in vrhovi) {
                    var niz = "<b><a href='/Vrhovi/Vrh/" + vrhovi[x]["VrhId"] + "' target='blank'>" + vrhovi[x]["Ime"] + "</a></b><br/>" + vrhovi[x]["Visina"] + "m";
                    markers.addLayer(L.marker([vrhovi[x]["KoordinateS"], vrhovi[x]["KoordinateD"]]).bindPopup(niz));
                }
                map.addLayer(markers);

                //search
                var vrh = [];
                $.getJSON("/api/v1/vrh", function(result){
                    for (v in result) {
                        vrh.push(result[v]["ime"] + " - " + result[v]["visina"] + "m" + " ! " + result[v]["vrhId"]);
                    }
                });
                autocomplete(document.getElementById("searchField"), vrh);
            }
        </script>
    </div>
</div>