/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#index {
  position: absolute;
  top: 77px;
  left: 0;
  right: 0;
  height: calc(100vh - 77px);
  text-align: center;
  vertical-align: middle;
  background-image: url("/Images/triglav.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#tekst {
  position: absolute;
  top: calc(50% - 77px);
  left: 50%;
  transform: translate(-50%, -50%);
}

#onas {
  margin-top: calc(110vh - 77px);
}

#mapa {
  margin-top: 10vh;
}

#map {
  height: 80vh;
  z-index: 0;
}

#vreme {
  margin-top: 5vh;
  width: 100%;
}

#test {
  margin-top: 5vh;
}

.break {
  margin-top: 2vh;
}

.banner {
  position: absolute;
  top: 77px;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  height: 15vh;
  background-image: url("/Images/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#data {
  margin-top: 20vh;
}

#data td {
  padding: 15px;
  padding-right: 10vw;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#ivk {
  width: 50%;
  height: 20vh;
  display: inline-block;
}

#add {
  margin-top: -50%;
  width: 49%;
  display: inline-block;
  text-align: right;
}

div.napoved-0, div.napoved-1, div.napoved-2, div.napoved-3, div.napoved-4, div.napoved-5, div.napoved-6, div.napoved-7{
  width: 12.5%;
  display: inline-block;
  text-align: center;
}

.image {
  margin: 5px;
}

form input[type=file] {
  margin: 0 auto;
  width: 33%;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}

form div.autocomplete input[type=text] {
  width: 100%;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-bottom: 1px solid #ddd;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: rgb(30, 255, 169) !important;
  color: #ffffff;
}

.table {
  margin-top: 20vh;
}